image: docker:latest
services:
    - docker:dind

variables:
    WORK_DIR: ${CI_PROJECT_NAME}
    BRANCH: ${CI_COMMIT_REF_NAME}
    REGISTRY: registry.gitlab.com/maltodextrin99/gitlab-cicd-tutorial
    
stages:
    - build
    - test

build_docker_image:
    stage: build
    script:
        - docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - docker build -t $REGISTRY .
        - docker push $REGISTRY
    tags:
        - docker

test_docker_image:
    stage: test
    script:
        - docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - docker pull $REGISTRY
        - docker run --name=$BRANCH -p 80:8080 -i $REGISTRY npm run ci
    tags:
        - docker       
