variables:
    TESTNAME: registry.gitlab.com/maltodextrin99/gitlab-cicd-tutorial:$CI_COMMIT_REF_NAME
    
stages:
    - build
    - run

build_docker_image:
    stage: build
    script:
        - docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - docker build -t $TESTNAME .
        - docker push $TESTNAME
    tags:
        - build
run_docker_image:
    stage: run
    script:
        - docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - docker pull $TESTNAME
        - docker kill $(docker ps -q) || true
        - docker rm $(docker ps -a q) || true
        - docker run -dt -p 8080:80 --name mygitlabCICDContainer $TESTNAME
    tags:
        - run
