# Add sudo for shell executor
variables:
    TESTNAME: registry.gitlab.com/maltodextrin99/gitlab-cicd-tutorial:$CI_COMMIT_REF_NAME
    
stages:
    - build
    - run

build_docker_image:
    stage: build
    script:
        - docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - docker build -t $TESTNAME .
        - docker push $TESTNAME
    tags:
        - docker_executor
run_docker_image:
    stage: run
    script:
        - sudo docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - sudo docker pull $TESTNAME
        - sudo docker kill $(docker ps -q) || true
        - sudo docker rm $(docker ps -a q) || true
        - sudo docker run -dt -p 8080:80 --name gitlabCICDContainer $TESTNAME
    tags:
        - docker_executor
