stages:
    - test
    - infra_plan
    - infra_deployment
    - app_tasks

.ansible_prep:
    before_script:
        - echo "Prep"


dev_infra_plan:
    extends: .ansible_prep
    stage: infra_plan
    needs: []
    script:
        - echo "Building"
        - mkdir build
        - touch build/info.txt
    artifacts:
        paths:
            - build/
    tags:
        - shell
    only:
        - main
    except:
        - pipelines
    when:    manual

dev_infra_deployment:
    extends: .ansible_prep
    needs: ['dev_infra_plan']
    stage: infra_deployment
    script:
        - echo "testing"
        - test -f "build/info.txt"
    tags:
        - shell
    only:
        - main
    except:
        - pipelines
    when:    manual
