variables:
  WORK_DIR: ${CI_PROJECT_NAME}
  BRANCH: ${CI_COMMIT_REF_NAME}
  REGISTRY: registry.gitlab.com/maltodextrin99/gitlab-cicd-tutorial:$CI_COMMIT_REF_NAME

stages:
  - build
  - test
  - deploy


build_project:
    image: docker:latest
    services: 
      - docker:dind
    stage: build
    script:
        - sudo docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - sudo docker build -t $REGISTRY .
        - sudo docker push $REGISTRY

test_project:
    image: docker:latest
    services: 
      - docker:dind    
    stage: test
    script:
        - sudo docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - sudo docker pull $REGISTRY
        - sudo docker run --name=$BRANCH -p 80:8080 -i $REGISTRY npm run ci
        
deploy_project:
    stage: deploy
    script:
        - sudo docker login -u maltodextrin99 -p $runnerPass registry.gitlab.com
        - sudo docker pull $REGISTRY
        - sudo docker stop $(docker ps -a -q) || true && docker rm $(docker ps -a -q) || true
        - sudo docker run --name=$BRANCH -p 80:8080 -dit $REGISTRY npm run start-server
    tags:
      - shell_executor
