stages:
    - test
    - infra_plan
    - infra_deployment
    - app_tasks

.ansible_prep:
    before_script:
        - echo "Prep"


dev_infra_plan:
    extends: .ansible_prep
    stage: infra_plan
    needs: []
    script:
        - echo "Building"
        - mkdir build
        - touch build/info.txt
    artifacts:
        paths:
            - build/
    tags:
        - shell
    rules:
      - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        when: manual
        allow_failure: true
      - if: '$CI_PIPELINE_SOURCE == "schedule"'


dev_infra_deployment:
    extends: .ansible_prep
    needs: ['dev_infra_plan']
    stage: infra_deployment
    script:
        - echo "testing testing"
        - test -f "build/info.txt"
    tags:
        - shell
    rules:
      - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
        when: manual
        allow_failure: true
      - if: '$CI_PIPELINE_SOURCE == "schedule"'
        when: delayed
        start_in: 2 minutes
